html, body {
  width: 100%;
  height: 100%;
  background-color: #ededed;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

section, article {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}

#root {
  height: 100%;
}